.home-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
  
  .left-panel, .right-panel {
    width: 48%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .left-panel {
    background-color: #f0f4f8;
  }
  
  .right-panel {
    background-color: #e6f7ff;
  }
  
  .uid-display {
    margin-top: 20px;
    padding: 10px;
    border-top: 2px solid #ccc;
  }
  
  .profile-image {
    display: block;
    margin: 0 auto; /* Căn giữa ảnh */
    max-width: 100%; /* Đảm bảo ảnh không vượt quá kích thước container */
    width: 200px; /* Đặt chiều rộng ảnh */
    height: auto; /* Giữ tỷ lệ khung hình */
    border-radius: 50%; /* Nếu bạn muốn ảnh có viền tròn */
  }